
/* FONTAWESOME */

/*@font-face {
    font-family: "fontraleway";
    src: url("fontraleway/Raleway-VariableFont_wght.ttf") format("truetype"), url("fontraleway/static/Raleway-Bold.ttf") format("truetype"), url("fontraleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
} 
@font-face {
    font-family: "fontralewaybold";
    src: url("fontraleway/static/Raleway-Bold.ttf") format("truetype");
}*/

@font-face { /* DENIS */
    font-family: "Raleway";
    src: url("./fontraleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }

/* BASICS */

body {
    font-family: "Raleway", sans-serif;
    margin-right: 40px;
    margin-left: 40px;
}

/* LOGO & NAVBAR */

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    display: none;
    font-size: 1.1rem;
}
h2 {
    font-size: 0.9rem;
}
h3 {
    font-size: 0.7rem;
}
.d-flex {
    cursor: pointer;
    width: 80px;
    height: 40px;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    text-decoration: none;
    color: lightgray;
}

.nav_links li a:hover {
    color: #004eff;
    border-top: 2px solid #004eff;
    padding-top: 22px;
}

/* SEARCH BAR */

.search-bar {
    height: 33px;
    width: 180px;
    border: 1px solid lightgray;
    padding: 2px;
}
.loupe{
    display: none;
}


.btn1 {
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    width: 40px;
    cursor: pointer;
}
.btn2 {
    background-color: #004eff;
    color: #fff;
    height: 40px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    width: 100px;
    cursor: pointer;
}
.filtre {
    margin-right: 15px;
}
.badge-complete {
    display: inline-block;
    padding: 20px 0px;
}
.badge {
    border: 1px solid lightgray;
    border-left: none;
    border-radius: 40px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    /*padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    margin-right: 15px;
    padding-right: 25px;
    padding-left: 0px;*/

    margin: auto 15px auto 10px;
    padding: 0 25px 0 0;
}

.badge .fas {
    background-color: #deebff;
    color: #004eff;
    margin: 0 10px 0 -1px;
    padding: 13px;
    border-radius: 20px;
}
.text-muted .fas {
    color: #004eff;
}

/* HÉBERGEMENTS */
main section {
    display: flex;
    justify-content: space-between;
}
.hebergements {
    width: 70%;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
}
.hebergements div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 20px;
    height: 180px;
    width: 250px;
    margin: 10px;
    overflow:hidden;
}

.card .card-img {
    height: 60%;
    overflow:hidden;
    padding: 5px;
}
.card .card-img img {
    width: 100%;
    height: auto;
    /*margin: 4px;*/
    border-radius: 15px 15px 0px 0px;
}
.card .card-body {
    height: 40%;
    background-color: white;
    margin-left: 10px ;
}
.card .card-body p {
    /*margin-left: 10px;
    margin-top: -10px;*/
    font-size: 0.7em;
    margin-bottom: 0px;
}
.stars {
    color: #004eff;
    font-size: 0.7em;
    margin-left: 10px;
    margin-top: 10px;
}

.plus {
    cursor: pointer;
	/*margin-right: 700px;*/
    font-size: 0.8em;
    /*margin-bottom: auto;*/
	font-weight: bold;
    border: none;
    margin: 20px auto 0 auto;
}


/* LES PLUS POPULAIRES */

.les-plus-populaire {
    width: 30%;
    /*height: 600px;*/
    border-radius: 20px;
    background-color: #f2f2f2;
    /*margin-right: 30px;*/
    padding: 20px 0px 20px 0px;
}

.populaire-card {
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
}
.populaire-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.populaire-title i{
    margin-right: 30px;
    margin-top: 10px;
}
.card1 {
    display: flex;
    flex-direction: row;
    /*width: 350px;*/
    height: 110px;
    /*justify-content: space-around;*/
    background-color: #fff;
    border-radius: 20px;
    /*padding-top: 3px;
    padding-left: 2px;*/
}
.card1 .card-img {
    position: relative;
    width: 42%;
    overflow: hidden;
}
.card1 .card-img img {
    position: absolute;
    height: 100%;
    width: auto;
    min-width: 100%;
    border-radius: 20px 0px 0px 20px;
    
}
.card1 .card-body p {
    font-size: 0.7em;
    margin-bottom: 20px;
}
.card1 figcaption{
	width: 58%;
    padding: 0 10px 0 10px;
}
.les-plus-populaire h2 {
    margin-left: 20px;
}
/* ACTIVITÉS A MARSEILLE */

#activities header{
    margin-bottom: 20px;
    margin-top: 40px;
}

#activities .activties-container{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
#activities .activities-column {
    max-width: 23%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#activities .activities-column figure {
    border-radius: 20px;
}
#activities .activities-column figcaption{
    height: 40px;
}
#activities .actvities-image{
    border-radius: 20px 20px 0 0;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

    /*overflow: hidden;
    width: 100%;*/
}
#activities .actvities-image img{
    /*height: 100%;*/
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.activities-column{
    justify-content: space-between;
    height: 100%;
}
.activities-column figure{
    margin: 0;
}
.fig100 {
    height: 100%;  
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1); 
}
.fig100 .actvities-image{
    height: 460px;
}

.fig40 {
    height: 38%;  
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1); 
}
.fig40 .actvities-image{
    height: 150px;
}
.fig40 .actvities-image img{
    width: 100%;
    height: auto;
}
.fig60 {
    height: 58%;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1);   
}
.fig60 .actvities-image{
    height: 160px;
}
.fig60 .actvities-image img{
    width: 100%;
    height: auto;
}
.fig50 {
    height: 48%;   
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1);
}
.fig50 .actvities-image{
    height: 180px;
}
.fig50 .actvities-image img {
    width: 100%;
    height: auto;
}



/* FOOTER */
footer{
    background-color:#F2F2F2;
    display: flex;
	justify-content: space-evenly;
    flex-direction: row;
	margin-left: -40px;
	margin-right: -40px;
    margin-top: 40px;
    height: 250px;
	align-items: center;
}

footer mn-footer{
    margin: auto;
}
.mn-footer a{
	text-decoration: none;
	color: black;
	line-height: 1.5;
}
.mn-footer :nth-child(3){
	margin-right: 250px;
}
.act-title{
    margin-left: 20px;
    box-shadow: 20px;
}

/*@media (min-width: 370px) and (max-width: 844px)*/
@media only screen and (max-width: 768px){
    body{
        margin: 0;
    }
    main section {
        display: flex;
        flex-direction: column-reverse;
        padding: auto;
    }
    main h2{
        font-size: 1.4em;
        margin-left: 20px;
    }
    header{
        display: block;
    }
    .d-flex{
        margin: 10px;
    }
    .title{
        font-size: 1.3em;
        margin-left: 20px;
        margin-right: 35px;
    }
    .intro{
        margin-left: 20px;
    }

    .nav_links{
        padding-left:0 ;
        border-bottom: 2px solid lightgray;
        padding-bottom: 10px;
    }
    .nav_links li a:active {
        color: #004EFF;
        border-bottom: 2px solid #004EFF;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 55px;
    }

    .nav_inscrire{
        position: absolute;
        top: 20px;
        right: 0px;
    }
    .nav_hebergement{
        width: 49%;
        padding: 0 0 10px 0 !important;
     
        text-align: center;
        border-top: none;
    }
    .nav_hebergement:hover{
        border-bottom: 2px solid #004eff;
    }
    .nav_activites{
        width: 49%;
        padding: 0 0 10px 0 !important;
       
        text-align: center;
        border-top: none;
    }

    .search{
        margin-left: 20px;
    }
    .search-bar {
        height: 44px;
        width: 225px;
    }
    .btn1 {
        height: 50px;
        width: 50px;
    }
    .btn2 {
        height: 50px;
        border-radius: 15px 15px 15px 15px;
        width: 50px;
        position: relative;
        z-index: 1;
        margin-left: -20px;
    }
    .loupe{
        display: block;
    }
    .btn2 span{
        display: none;
    }
    .filtre {
        margin-left: 20px;
    }
    .badge{
        margin: auto 0px 10px 20px;
    }
    .text-muted{
        margin-left: 20px;
    }
    .hebergements {
        width: 100%;
        border-radius: 0;
        padding: 0;
        background: none;
    }
    .card {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1); 
            
    }
    .plus{
        background: none;
        font-size: 1.1em;
        margin-left: 15px;
    }
    .les-plus-populaire {
        margin-top: 10%;
        width: 100%;
        border-radius: 0;
        margin-bottom: 5%;
    }
    .graph{
        font-size: 1.4em;
        margin-top: 15px;
    }

    #activities header h2{
        font-size: 1.4em;
        margin-left: 20px;
    }

#activities .actvities-image{
    max-height: 135px;
}

#activities .activties-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

#activities .activities-column {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px;
}
.fig40{
    margin-top: 45px !important;
}
.fig50 {
    margin-bottom: 45px !important;
}
    footer{
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 30px;
}
footer h3{
    font-size: 1.1em;
}
.mn-footer :nth-child(3) {
    margin-right: 0;
}
}



}
@media (min-width: 834px) and (max-width: 1194px){

}
