/* BASICS */

body {
    font-family: "Raleway", sans-serif;
    margin-right: 40px;
    margin-left: 40px;
}

/* FONTAWESOME */

@font-face {
    font-family: "fontraleway";
    src: url("fontraleway/Raleway-VariableFont_wght.ttf") format("truetype"), url("fontraleway/static/Raleway-Bold.ttf") format("truetype"), url("fontraleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "fontralewaybold";
    src: url("fontraleway/static/Raleway-Bold.ttf") format("truetype");
}

/* LOGO & NAVBAR */

header {
    display: flex;
    justify-content: space-between;
}
h1 {
    display: none;
    font-size: 1.1rem;
}
.d-flex {
    cursor: pointer;
    width: 80px;
    height: 40px;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    text-decoration: none;
    color: lightgray;
}

.nav_links li a:hover {
    color: #004eff;
    border-top: 2px solid #004eff;
    padding-top: 22px;
}

/* SEARCH BAR */

.search-bar {
    height: 33px;
    width: 180px;
    border: 1px solid lightgray;
    padding: 2px;
}
.btn1 {
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    width: 40px;
    cursor: pointer;
}
.btn2 {
    background-color: #004eff;
    color: #fff;
    height: 40px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    width: 100px;
    cursor: pointer;
}
.filtre {
    margin-right: 15px;
}
.badge-complete {
    display: inline-block;
    padding: 20px 0px;
}
.badge {
    border: 1px solid lightgray;
    border-left: none;
    border-radius: 40px;
    background-color: #fff;
    cursor: pointer;
    font-size: 110%;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    margin-right: 15px;
    padding-right: 25px;
    padding-left: 0px;
}

.badge .fas {
    background-color: #deebff;
    color: #004eff;
    margin: 0 10px 0 -1px;
    padding: 13px;
    border-radius: 20px;
}
.text-muted .fas {
    color: #004eff;
}

/* HÉBERGEMENTS */

main section {
    display: flex;
    justify-content: space-between;
}
section .hebergements {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    border-radius: 20px;
    background-color: #f2f2f2;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    height: 180px;
    width: 250px;
    margin: 0;
}
.card-body {
    margin-top: -10px;
}
.stars {
    color: #004eff;
    font-size: 0.7em;
    margin-left: 10px;
    margin-top: 10px;
}
.card img {
    margin: 4px;
    border-radius: 15px 15px 0px 0px;
    height: 110px;
}
.card-title {
    margin-bottom: 0px;
}

.card-text {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 0.7em;
    margin-bottom: 0px;
}
.hebergements h2 {
    width: 75%;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 190px;
}
figcaption h3 {
    font-size: 0.8em;
    margin-left: 10px;
}
.plus {
    cursor: pointer;
	margin-right: 700px;
    font-size: 0.8em;
    margin-bottom: auto;
	font-weight: bold;
    border: none;
}


/* LES PLUS POPULAIRES */

.les-plus-populaire {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 600px;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin-right: 30px;
}
.card1 {
    display: flex;
    flex-direction: row;
    margin: auto !important;
    width: 350px;
    height: 141px;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 3px;
    padding-left: 2px;
}
.card1 img {
    display: block;
    width: 40%;
    height: auto;
    border-radius: 20px 0px 0px 20px;
}
.card1 figcaption{
	width: 60%;
}
.les-plus-populaire h2 {
    margin-left: 20px;
}
/* ACTIVITÉS A MARSEILLE */

#activities main{
    display: flex;
    flex-direction: row;   
}
#activities main div{
    flex-direction: row;
    width:100%;
}
#activities main div img {
    width: 100%;
    max-height: 500px;
}



/* FOOTER */
footer{
    background-color:#F2F2F2;
    display: flex;
	justify-content: space-around;
    flex-direction: row;
	margin-left: -40px;
	margin-right: -40px;
    height: 250px;
	align-items: center;
}

footer mn-footer{
    margin: auto;
}
.mn-footer a{
	text-decoration: none;
	color: black;
	line-height: 1.5;
}
.mn-footer :nth-child(3){
	margin-right: 250px;
}
.act-title{
    margin-left: 20px;
    box-shadow: 20px;
}
